body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.white-color {
  color: white;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.display-account-info {
  text-align: center;
  display: inline-block;
}

.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
}

.link {
  text-decoration: none;
  color: white;
}

.nav-logo {
  max-width: 40px;
  max-height: 40px;
}

.title-contact {
  color: white;
  text-align: center;
  margin-top: 2%;
}

.button-token {
  background-color: #4267B2;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  width: 100px;
}

.font-bahnschrift {
  font-family: Bahnschrift;
}

.loading {
  position:absolute;
  left:0;
  right:0;
  height: 500px;
}

.loadingConnect {
  position:absolute;
  margin-top: 5%;
  left:0;
  right:0;
  height: 400px;
}
